.font-modak {
    font-family: 'Modak', sans-serif;
  }

body {
    background-image: url('./assets/Fondo.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: center center; /* Centra la imagen de fondo */
    backdrop-filter: blur(2px);
}

.borde-letras {
    display: inline-block;
    position: relative;
  }
  
  .borde-letras::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid black; /* Puedes ajustar el grosor y el color del borde según tus necesidades */
    z-index: -1;
  }